html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #eee !important;
  font-size: 100%;
  padding-top: 70px;
}
a {
  color: #636b6f !important;
}
a:hover, h2, h3 {
  color: #3D7392 !important;
}

.navbar-default {
  background-color: #3D7392 !important;
}
.navbar-default .navbar-brand {
  color: #717B6C !important;
  font-size:33px;
  font-weight: 700;
  text-shadow: 0 1px 1px #000;
}
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #000 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000 !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff !important;
}
.dropdown-menu .divider {
  background-color: #3D7392 !important;
}
.jumbotron {
  background-color: #ddd !important;
  color: #717B6C !important;
}
.well {
  background-color: #3D7392 !important;
}
.well, .well a {
  color: #fff !important;
  font-size: 12px !important;
}

.footer {
  border-top:1px solid #717B6C;
}
.margin-tb-10 {
  margin-top:10px;
  margin-bottom:10px;
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-brand {
    font-size: 36px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #717B6C !important;
  }
}

@media screen and (min-width: 992px) {

}

